{% extends 'layout.html' %}

{% block title %}Acceso incorrecto{% endblock %}

{% block content %}
<h1>Hola {{ usuario }}</h1>

{% if error %}
<h2>{{ titulo }}</h2>
<p>{{ error }}</p>
{% else %}
<h2>{{ titulo }}</h2>

<div class="login-form">
    <div class="col-md-8 col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Login</h5>
                <h6 class="card-subtitle mb-2 text-muted">En caso contrario, acceda con su usuario</h6>
                <form method="post" action="{{ urlFormulario }}">
                    <div class="form-group">
                        <label><b>Usuario</b></label>
                        <input type="text" name="usuario" value="{{ usuario }}" class="form-control"
                               placeholder="User Name" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label><b>Contraseña</b></label>
                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <br>
                    <input class="btn btn-primary" type="submit" value="{{ tituloBoton }}">
                </form>
            </div>
        </div>
    </div>
</div>

{% endif %}

<button class="btn btn-secondary" id="btnVolver" onclick="location.href = '/';">Volver</button>
{% endblock %}