{% extends 'layout.html' %}

{% block title %}Página de bienvenida{% endblock %}

{% block content %}
<div class="sidenav">
    <div class="login-main-text">
        <h2>Bienvenido al videoclub de Oliva, Luis y Abel<br> Página de Registro y Login</h2>
        <p>Regístrese desde aquí o acceda.</p>
    </div>
</div>

<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Registro</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Por favor, si no está registrado, regístrese</h6>
                    <form method="post" action="/registro">
                        <div class="form-group">
                            <label><b>Usuario</b></label>
                            <input type="text" name="usuario" class="form-control" placeholder="User Name" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label><b>Contraseña</b></label>
                            <input type="text" name="password" class="form-control" placeholder="Password" required>
                        </div>
                        <br>
                        <input class="btn btn-primary" type="submit" value="Enviar">
                    </form>
                </div>
            </div>
        </div>
        
        <div class="login-form">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <h6 class="card-subtitle mb-2 text-muted">En caso contrario, acceda con su usuario</h6>
                    <form method="post" action="/acceso">
                        <div class="form-group">
                            <label><b>Usuario</b></label>
                            <input type="text" name="usuario" class="form-control" placeholder="User Name" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label><b>Contraseña</b></label>
                            <input type="text" name="password" class="form-control" placeholder="Password" required>
                        </div>
                        <br>
                        <input class="btn btn-primary" type="submit" value="Enviar">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}