{% extends 'layout.html' %}

{% block title %}Página de bienvenida{% endblock %}

{% block content %}
<div class="sidenav">
    <div class="login-main-text">
        <h2>Application<br> Login Page</h2>
        <p>Login or register from here to access.</p>
    </div>
</div>

<div class="main container-fluid">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <h1>BIENVENIDO</h1>
            <h2>Por favor, si no está registrado, regístrese</h2>
            <form method="post" action="/registro">
                <div class="form-group">
                    <label>Usuario</label>
                    <input type="text" name="usuario" class="form-control" placeholder="User Name" required>
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="text" name="password" class="form-control" placeholder="Password" required>
                </div>
                <input type="submit" value="Enviar">
            </form>
        </div>

        <div class="login-form">
            <h2>En caso contrario, acceda con su usuario</h2>
            <form method="post" action="/acceso">
                <div class="form-group">
                    <label>Usuario</label>
                    <input type="text" name="usuario" class="form-control" placeholder="User Name" required>
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="text" name="password" class="form-control" placeholder="Password" required>
                </div>
                <input type="submit" value="Enviar">
            </form>
        </div>
    </div>
</div>



    <form method="post" action="/registro">
        <div class="row">
            <div class="col-sm-2">
                Usuario:<br>
                <input type="text" name="usuario" required><br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                Contraseña:<br>
                <input type="text" name="password" required><br><br>
            </div>
        </div>
        <input type="submit" value="Enviar">
    </form>
    <h2>En caso contrario, acceda con su usuario</h2>
    <form method="post" action="/acceso">
        <div class="row">
            <div class="col-sm-2">
                Usuario:<br>
                <input type="text" name="usuario" required><br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                Contraseña:<br>
                <input type="text" name="password" required><br><br>
            </div>
        </div>
        <input type="submit" value="Enviar">

    </form>
{% endblock %}