{% extends 'layout.html' %}


{% block title %}Listado de películas{% endblock %}

{% block content %}
    <h1 id="tituloPeliculas">Bienvenido a nuestro videoclub {{ usuario }}</h1>

    <h3 id="subtituloPeliculas">Si desea agregar una película, rellene el siguiente formulario</h3>

    <form method="post" action="listadoPeliculas/pelicula" id="formularioPelicula">
        <div class="row">
            <div class="col-sm-2">
                Nombre:<br>
                <input class="form-control" type="text" name="nombre"><br>
            </div>
            <div class="col-sm-2">
                Director:<br>
                <input class="form-control" type="text" name="director"><br>
            </div>
            <div class="col-sm-2">
                Año:<br>
                <input class="form-control" type="text" name="anyo"><br>
            </div>
            <div class="col-sm-2">
                Precio:<br>
                <input type="text" class="form-control" name="precio" aria-label="Dollar amount (with dot and two decimal places)">
            </div>
        </div>

        <input class="btn btn-primary" type="submit" value="Guardar película">
    </form>

    {% if listado %}
    <h2 id="subtituloTabla">Este es nuestro listado de películas</h2>

        <table class="table table-bordered table-responsive" id="tablaContenido">
        <thead class="table-dark">
        <tr>
            <th>NOMBRE</th>
            <th>DIRECTOR</th>
            <th>AÑO</th>
            <th>PRECIO</th>
            <th>ACCIONES</th>
        </tr>
        </thead>
        <tbody>
        {% for pelicula in listado %}
        <tr>
            <td>{{ pelicula.nombre }}</td>
            <td>{{ pelicula.director }}</td>
            <td>{{ pelicula.anyo }}</td>
            <td>{{ pelicula.precio }}</td>
            <td>
                <button class="btn btn-danger" onclick="borrarPelicula('{{pelicula._id.valueOf()}}')">Borrar</button>
                <button class="btn btn-warning" onclick="location.href = '/listadoPeliculas/pelicula/{{pelicula._id.valueOf()}}';">Modificar</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% else %}
    <h3>Actualmente no hay películas almacenadas en la BBDD</h3>
    {% endif %}

    <button class="btn btn-secondary" id="btnSalir" onclick="location.href = '/';">Salir</button>
{% endblock %}