{% extends 'layout.html' %}


{% block title %}Listado de películas{% endblock %}

{% block content %}
    <h1>Bienvenido a nuestro videoclub</h1>

    <h3>Si desea agregar una película, rellene el siguiente formulario</h3>

    <form method="post" action="listadoPeliculas/pelicula">
        Nombre:<br>
        <input type="text" name="nombre"><br>
        Director:<br>
        <input type="text" name="director"><br>
        Año:<br>
        <input type="text" name="anyo"><br>
        <div class="input-group">
            <input type="text" class="form-control" name="precio" aria-label="Dollar amount (with dot and two decimal places)">
            <span class="input-group-text">$</span>
            <span class="input-group-text">0.00</span>
        </div>
        <input type="submit" value="Guardar película">
    </form>

    {% if listado %}
    <h2>Este es nuestro listado de películas</h2>

        <table class="table table-bordered table-responsive">
        <thead class="table-dark">
        <tr>
            <th>NOMBRE</th>
            <th>DIRECTOR</th>
            <th>AÑO</th>
            <th>PRECIO</th>
            <th>ACCIONES</th>
        </tr>
        </thead>
        <tbody>
        {% for pelicula in listado %}
        <tr>
            <td>{{ pelicula.nombre }}</td>
            <td>{{ pelicula.director }}</td>
            <td>{{ pelicula.anyo }}</td>
            <td>{{ pelicula.precio }}</td>
            <td>
                <button class="btn btn-danger" onclick="borrarPelicula('{{pelicula._id.valueOf()}}')">Borrar</button>
                <button class="btn btn-warning" onclick="location.href = '/listadoPeliculas/pelicula/{{pelicula._id.valueOf()}}';">Modificar</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% else %}
    <h3>Actualmente no hay películas almacenadas en la BBDD</h3>
    {% endif %}

    <button onclick="location.href = '/';">Salir</button>
{% endblock %}